<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderSection("Title")</title>
    <link rel="icon" href="~/favicon.svg" />
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="nav">
            <img class="nav_img" src="~/img/logo.svg" />
            <ul class="nav_list">
                <li>
                    <a class="nav_list_link" asp-controller="Movie" asp-action="Index">Movies</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a class="nav_list_link" asp-controller="Genre" asp-action="GenreIndex">Genres</a>
                    </li>
                    <li>
                        <a class="nav_list_link" asp-controller="User" asp-action="UserIndex">Users</a>
                    </li>
                }
            </ul>
            @if (User.Identity is not null && User.Identity.IsAuthenticated)
            {
                <div class="nav_list_logout">
                    <div class="nav_list_name">@User.Identity.Name - </div>
                    <a class="nav_list_link" asp-controller="User" asp-action="Logout">Logout</a>
                </div>
            }
        </nav>
    </header>
    <main id="main" class="main">
        @RenderBody()
    </main>
<!-- <footer class="border-top">
        <div class="container">
            &copy; 2025 - Movies
        </div> 
    </footer>-->
    @RenderSection("Scripts", required: false)
</body>
</html>
